<html>
<body>
    <div class="login">
       <h1>Heart Stroke Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Heart Stroke Prediction</legend>
        </h1>

        <div class="mb-3">
            <label class="form-label">Age</label>
            <input class="form-control" type="number" name="Age"
                placeholder="Enter your Age" min='1' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Sex</label>
            <select class="form-control" name="Sex" placeholder="Enter you Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="M">
                    Male
                </option>
                <option value="F">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Chest Pain Type</label>
            <select class="form-control" name="ChestPainType" placeholder="Enter your Chest Pain Type" required>
                <option class="placeholder" selected disabled value="">Select Chest Pain Type</option>
                <option value="ATA">
                    Atypical Angina
                </option>
                <option value="NAP">
                    Non-Anginal Pain
                </option>
                <option value="ASY">
                    Asymptomatic
                </option>
                <option value="TA">
                    Typical angina
                </option>
                
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Resting Blood Pressure</label>
            <input class="form-control" type="number" name="RestingBP"
                placeholder="Enter your Resting Blood Pressure" min='0' max='200' />
        </div>

        <div class="mb-3">
            <label class="form-label">Cholesterol</label>
            <input class="form-control" type="number" name="Cholesterol"
                placeholder="Enter your Cholesterol" min='0' max='700' />
        </div>

        <div class="mb-3">
            <label class="form-label">FastingBS</label>
            <input class="form-control" type="number" name="FastingBS"
                placeholder="Enter your FastingBS" min='0' max='1' />
        </div>

        <div class="mb-3">
            <label class="form-label">MaxHR</label>
            <input class="form-control" type="number" name="MaxHR"
                placeholder="Enter your MaxHR" min='50' max='220' />
        </div>

        <div class="mb-3">
            <label class="form-label">RestingECG</label>
            <select class="form-control" name="RestingECG"
                placeholder="Enter your RestingECG" required>
                <option class="placeholder" selected disabled value="">Select Resting RestingECG</option>
                <option value="Normal">
                    Normal
                </option>
                <option value="ST">
                    ST
                </option>
                <option value="LVH">
                    LVH
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">ExerciseAngina</label>
            <select class="form-control" name="ExerciseAngina" placeholder="Enter your ExerciseAngina" required>
                <option class="placeholder" selected disabled value="">Select ExerciseAngina</option>
                <option value="Y">
                    Y
                </option>
                <option value="N">
                    N
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">ST_Slope</label>
            <select class="form-control" name="ST_Slope" placeholder="Enter your ST_Slope"
                required>
                <option class="placeholder" selected disabled value="">Select ST_Slope</option>
                <option value="Flat">
                    Flat
                </option>
                <option value="Up">
                    Up
                </option>
                <option value="Down">
                    Down
                </option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Oldpeak</label>
            <input class="form-control" type="number" name="Oldpeak"
                placeholder="Enter your Oldpeak" min='0' max='3' />
        </div>

        
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your chances of Heartdisease" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>